Examples/02_newPartModel/.vs/
Examples/02_newPartModel/.vscode/
Examples/03_newPart_With_Inclination/.vs/
Examples/03_newPart_With_Inclination/.vscode/
Examples/04_Cylinder270_penalty/data/HigherResolution
Examples/04_Cylinder270_penalty/data/LowerResolution.rar
Examples/02_newPart_HalfShell
Examples/04_Cylinder_Queso
Examples/04_Cylinder270_Nitsche
Examples/10_Cylinder270_5p_penalty/
Examples/02_newPartModel_Queso/*
Examples/00_*



Examples/*.zip
Examples/*.rar
Examples/*/.vs/
Examples/*/.vscode*
Examples/**/*.georhino.json
Examples/**/*.post.res
Examples/**/*integrationdomain.json
Examples/**/queso_output/*
Examples/**/kratos_output/*
Examples/**/data/IP_Shell_*.vtk
Examples/**/data/IP_Solid_*.vtk


